/**
* Imported fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    background-image: url("images/pitch-background.jpg");
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5vh;
}

.header-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    transition: opacity .5s;
    cursor: pointer;
}

#signout-button {
    padding: 5px;
}

#signin-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 14.5px 5px;
}

.header-button:hover {
    opacity: .6;
}


#page-content-div {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Login Page */
#content-wrapper {
    height: 85vh;
    width: 80vw;
    border-radius: 5%;
    background-color: white;
    opacity: 0.95;
    box-shadow: 5px 5px 20px;
    margin: 5px;
}

.content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 1s, opacity 1s;
}

.content-div p {
    text-align: center;
    padding: 5px;
    color: seagreen;
}

#login-content-div {
    height: 100%;
    width: 60%;
    float: left;
    color: seagreen;
}

.content-div h1 {
    font-size: 2em;
    padding: 10px;
    color: seagreen;
}

#signup-content-div h1, #signup-content-div p {
    color: white;
}

#signup-content-div {
    height: 100%;
    width: 40%;
    float: right;
    background-color: seagreen;
    border-radius: 0 5% 5% 0;
    box-shadow: -3px 0 5px 0 grey;
}

#signin-form-wrapper {
    width: 100%;
    height: 50%;
    opacity: 1;
}

#signin-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-label {
    margin-left: 5px;
}

.signin-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signin-text-input {
    width: 80%;
    margin: 10px;
    border-bottom: solid 2px seagreen;
    align-self: center;
    font-size: .8em;
}

.btn {
    margin: 20px;
    height: 50px;
    width: 5em;
    border-radius: 20px;
    font-size: large;
    transition: background-color .5s, color .5s;
}

#signin-submit-input, #btn-signin {
    align-self: center;
    background-color: seagreen;
    border: solid 2px seagreen;
    color: white;
}

#btn-signin {
    display: none;
}

#signin-submit-input:hover, #btn-signin:hover {
    background-color: white;
    color: seagreen;
    cursor: pointer;
}

#signin-err {
    font-weight: bold;
    color: red;
}

#signup-content-div {
    color: white;
    
}

#signup-content-div p {
    padding: 5px;
    text-align: center;
}

#signup-form-wrapper {
    height: 100%;
    display: none;
    width: 100%;
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-self: center;
}

#signup-fname-input {
    margin-left: 0;
}

#signup-surname-input {
    margin-right: 0;
}

#signup-form-wrapper .signin-text-input {
    background-color: seagreen;
    color: white;
    width: 80%;
    border-bottom: 2px solid white;
}

#signup-form-wrapper .signin-text-input::placeholder {
   color: white;
}

#btn-signup, #signup-submit-input {
    background-color: white;
    color: seagreen;
    border: 2px solid white;
}

#btn-signup:hover, #signup-submit-input:hover {
    background-color: seagreen;
    color: white;
    cursor: pointer;
}

/* Team Customization Page */
#edit-team-form {
    width: 73%;
    margin: .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#team-name-input {
    width: 100%;
}

#colour-label {
    color: seagreen;
    padding: 1em 0;
}

#team-colour {
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#edit-team-form label > input[type="radio"] {
    display: none;
}

#edit-team-form label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid seagreen;
    cursor: pointer;
    transition: .5s width, .5s height, .5s border;
}

#edit-team-form label > input[type="radio"] + #red-radio::before {
    background-color: red;
}

#edit-team-form label > input[type="radio"] + #blue-radio::before {
    background-color: lightblue;
}

#edit-team-form label > input[type="radio"] + #yellow-radio::before {
    background-color: yellow;
}

#edit-team-form label > input[type="radio"] + #green-radio::before {
    background-color: green;
}

#edit-team-form label > input[type="radio"] + #purple-radio::before {
    background-color: darkorchid;
}

#edit-team-form label > input[type="radio"] + #pink-radio::before {
    background-color: pink;
}

#edit-team-form label > input[type="radio"] + *:hover::before {
    border: 5px solid seagreen;
}

#edit-team-form label > input[type="radio"]:checked + *::before {
    background-color: red;
    border: 2px solid seagreen;
    width: 2.4em;
    height: 2.4em;
}

#team-submit-input {
    width: 50%;
    margin: 3em 25% 0 25%;
    background-color: seagreen;
    color: white;
    border: 2px solid seagreen;
}

#team-submit-input:hover {
    background-color: white;
    color: seagreen;
    cursor: pointer;
}


/* Player Homepage */

.player-content-div {
    height: 90%;
    width: 90vw;
    border-radius: 20px;
    background-color: white;
    opacity: 0.95;
    box-shadow: 5px 5px 20px;
    margin: 5px;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.73)),
    url('images/boot_on_ball.jpg') no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

#player-homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-bar {
    height: 4em;
    width: 100%;
    background-color: seagreen;
    color: white;
}

.player-bar h1 {
    font-size: 1.5em;
    text-align: center;
}

#team-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 3px 3px -1px gray;
}

.team-details-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

#team-details h3 {
    color: seagreen;
    font-size: 1.3em;
    padding-right: 1em;
    padding: 0 15% 0 35%;
}

#team-details img {
    height: 45px;
    width: 45px;
    position: fixed;
    margin-left: -35px;
    opacity: 1;
}

#skill-rating-div {
    justify-content: flex-end;
}

#rating-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 5em;
    border-radius: 20px 20px 0 20px;
    background-color: white;
    align-self: flex-start;
}

#player-navbar {
    display: flex;
    flex-direction: row;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px -3px 3px gray;
    color: white;
}

.player-buttons {
    height: 100%;
    width: 50%;
    background-color: seagreen;
    color: white;
    transition: box-shadow .5s ease-in-out, color 1s;
    cursor: pointer;
}

#myAccount-button {
    border-right: 1px solid white;
    border-radius: 0 0 0 20px;
}

#gamestats-button {
    border-left: 1px white solid;
    border-radius: 0 0 20px 0;
}

#myAccount-button:hover {
    box-shadow: inset -300px 0 0 0 white;
    color: seagreen;
}

#gamestats-button:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: seagreen;
}

#match-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#homepage-match-button {
    width: 50%;
    background-color: seagreen;
    color: white;
    border: 2px solid seagreen;
    transition: border .5s;
    box-shadow: 0px 2px 15px black;
    margin: 20px 25%;
}

#homepage-match-button:hover {
    border: 2px solid white;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    justify-content: space-between;
    width: 60vw;
    height: 90%;
    opacity: .9;
    border-radius: 20px;
    box-shadow: 0 4px 8px 10px gray,;
    -webkit-animation: animateTop 1s;
}

/* Modal Header */
.modal-header {
    background-color: seagreen;
    height: 15%;
    color: white;
    border-radius: 20px 20px 0 0;
    top: 0;
  }
  
  /* Modal Content */
.modal-content {
      width: 100%;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: white;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animateTop {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 35px; opacity: .9;}
}

/* Add Teacher Form */
#add-teacher-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2em 5em;
    width: 80%;
    height: 50%;
}

#add-teacher-fname {
    margin-left: 0;
}

#add-teacher-surname {
    margin-right: 0;
}

#admin-div {
    align-self: center;
}

#addTeacher-submit-input {
    align-self: center;
    width: 7em;
    background-color: seagreen;
    color: white;
    border: 2px solid seagreen;
    transition: color .5s, background-color .5s;
    justify-self: flex-start;
}

#addTeacher-submit-input:hover {
    color: seagreen;
    background-color: white;
    cursor: pointer;
}
    
/* Smartphones */
@media only screen and (min-width : 400px) {
    #content-wrapper {
        width: 80%;
    }

    .signin-text-input {
        font-size: .8em;
    }

    #btn-signup, #btn-signin {
        width: 100px;
    }

    .player-content-div {
        width: 90vw;
    }
}

/* Surface Pro */
@media only screen and (min-device-width : 540px) {
    #content-wrapper {
        width: 80%;
    }

    .player-content-div {
        width: 70vw;
    }
}

@media only screen and (min-device-width : 620px) {
    .player-content-div {
        width: 65vw;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) {
    #content-wrapper {
        height: 80vh;
        width: 80%;
    }

    .player-content-div {
        width: 45vw;
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
    #content-wrapper {
        height: 85vh;
        width: 60%;
    }

    .signin-text-input {
        height: 20px;
        font-size: medium;
    }

    .player-content-div {
        width: 35vw;
    }
    
}

@media only screen  and (min-width : 1524px) {
    .player-content-div {
        width: 30vw;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    #content-wrapper {
        height: 80vh;

    }

    .signin-text-input {
        height: 40px;
        font-size: large;
    }

    .player-content-div {
        width: 20vw;
    }
}