{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <div id="content-wrapper" class="content-div">
            <h1>{{ heading }}</h1>
            <p id="change-pass-text" class="content-text">Change password from the default provided password to make your account more secure</p>
            <p id="change-pass-err" class="err">{{ err }}</p>
            <form id="change-pass-form" method="post" action="{{ action }}">
                <input id="password-input" class="signin-text-input" type="password" name="new_password" placeholder="New Password" />
                <input id="cpassword-input" class="signin-text-input" type="password" name="cnew_password" placeholder="Confirm New Password"/>

                <input id="change-pass-submit" class="btn" type="submit" name="change_pass_submit" />
            </form>
        </div>
    </div>
{% endblock %}