<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ css_path }}" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block banner %}{% endblock %}
{% block content %}{% endblock %}
</body>
<footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ validate }}"></script>
    <script src="{{ js_path }}"></script>
    <!--<a target="_blank" href="https://icons8.com/icons/set/star--v1">Star icon icon by </a><a target="_blank" href="https://icons8.com">Icons8</a>-->
</footer>