{% extends 'banner.html.twig' %}
{% block content %}
    <div id="match-container">
        <header id="match-header">
            <section class="team-name"><h1></h1></section>
            <section id="score">
                <h1><span class="score-counter">0</span>-<span class="score-counter">0</span></h1>
                <h1 id="timer">0</h1>
            </section>
            <section class="team-name"><h1></h1></section>
        </header>
        <section id="commentary-container"></section>
    </div>
{% endblock %}