{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <div id="player-homepage-content" class="player-content-div">
            <div id="team-details" class="player-bar">
                <div class="team-details-div"></div>
                <div class="team-details-div">
                    <h1> {{ team_name }} </h1>
                </div>
                <div id="skill-rating-div" class="team-details-div">
                    <div id="rating-container">
                        <img src="css/images/star.png"  />
                        <h3>{{ rating }}</h3>
                    </div>
                </div>
            </div>
            <div id="match-button-container">
                <button id="homepage-match-button" class="btn">Play Match</button>
            </div>
            <nav id="player-navbar" class="player-bar">
            <button id="edit-team-button" class="player-buttons"><h2>Edit Team</h2></button>
            <button id="gamestats-button" class="player-buttons"><h2>Game Stats</h2></button>
            </nav>
        </div>
        <div id="backdrop"></div>
        <div id="playerModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="playerModal-close" class="close">&times;</span>
                    <h1 id="modal-header"></h1>
                    <div class="left"></div>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}